networks:
  msa-network:
    name: infrastructure_msa-network
    external: true

volumes:
  db_data:

services:
  app:
    build:
      context: .
      dockerfile: docker/php.Dockerfile
    volumes:
      - .:/var/www/app
    networks:
      - msa-network
      - default
    user: "1000:1000"
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    volumes:
      - .:/var/www/app
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/certs:/etc/nginx/certs:ro
    ports:
      - "8082:443"  # Important to have the same as within DEFAULT_URI
    depends_on:
      - app

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3352:3306"
    volumes:
      - db_data:/var/lib/mysql

  db_test:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_test
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3362:3306"
    tmpfs:
      - /var/lib/mysql

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - default
