# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  App\:
    resource: '../src/'
    exclude:
      - '../src/Api/V1/Dto/**'
      - '../src/**/Entity/*'
      - '../src/**/Entity/*'
      - '../src/**/ValueObject/*'

  # Controllers must be public
  App\Api\V1\Controller\:
    resource: '../src/Api/V1/Controller/*'
    tags: ['controller.service_arguments']
    public: true
  App\Api\Controller\:
    resource: '../src/Api/Controller/*'
    tags: [ 'controller.service_arguments' ]
    public: true

  # PSR-16 cache wrappers for our custom cache pools
  App\Infrastructure\Redis\AuthCache:
    arguments:
      $redisDsn: '%env(REDIS_URL)%'
  App\Cache\AppCache:
    class: Symfony\Component\Cache\Psr16Cache


  # Kafka
  App\Api\Controller\HealthController:
    public: true
    arguments:
      $brokers: '%env(KAFKA_BROKERS)%'
  App\Command\KafkaConsumeAuthCommand:
    arguments:
      $brokers: '%env(KAFKA_BROKERS)%'
      $topicName: '%env(KAFKA_TOPIC)%'

  # Exception Formatter
  App\Helper\ExceptionFormatter:
    arguments:
      $projectRoot: '%kernel.project_dir%'

  # Aliases
  Prometheus\CollectorRegistry: '@prometheus_metrics_bundle.collector_registry'
